@charset "Utf-8";


/* Media Default */

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: rgb(197, 195, 195);
    
}

header{
    background-color: gray;
    
}
h1{
    text-align: center;
}
ul {
    display: none;
}
ul  li{
  
  background-color: rgb(77, 73, 73);
  border-top: 1px solid black ;
  padding-top: 10px;
  justify-items: center;
  
}
li a{
    display: block;
    text-decoration: none;
    color: white ;
   
    text-align: center;


   

}
#burger{
    display: block;
    background-color: rgb(58, 57, 57);
    text-align: center;
    color: white;
    padding: 10px;
}
#burger:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.77s;
}

li a:hover{
    color: rgb(144, 172, 197);
    font-size: 1.2em;
    transition: 0.5s;
   
}


main{
    background-color: white;
    width: 90vw;
    
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;

}
article > p{
    text-align: justify;
    margin-bottom: 15px;
    text-indent: 15px;
    
}
main p{
    margin-bottom: 10px;
}

